.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-modal-close {
  outline: none;
}

Header {
  /* -webkit-text-stroke: 2px black; */
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
