.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-modal-close {
  outline: none;
}

.glow {
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #91ce26, 0 0 15px #91ce26,
    0 0 20px #0abc4a;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #91ce26, 0 0 5px #91ce26,
      0 0 7px #0abc4a;
  }
  to {
    text-shadow: 0 0 5px #d3ffe3, 0 0 10px #92f5b6, 0 0 15px #92f5b6,
      0 0 20px #92f5b6, 0 0 30px #92f5b6;
  }
}

header p:first-child {
  -webkit-text-stroke: 1px #587b35;
  /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */
}
header p:last-child {
  -webkit-text-stroke: 4px #78350f;
  /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black; */
}
